*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    text-align: center;
}
.word-counter-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 800px;
    margin:50px auto;
}
h1{
    font-size: 30px;
    font-weight: 600;
    background-color: burlywood;
    padding: 10px;
    margin-inline: 10px
}
textarea{
    border: 2px solid burlywood;
    padding: 10px;
    font-size: 20px;
    margin-inline: 10px
}
p{
    font-size: 20px;
    font-weight: 600;
    background-color: burlywood;
    padding: 10px;
    margin-inline: 10px
}